input {
  width: 100%;
  border-radius: 5px;
}
button{
  margin-top: 16px;
  width: 100%;
  border-radius: 10px;
}
.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}
