<!DOCTYPE html>
<html lang="en">

<body style="padding: 16px;">
    <div class="table-responsive">
        <table class="table table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead class="thead-dark text-center" style="box-shadow: 0px 0px 6px;background-color: #212529;">
                <tr>
                    <th *ngFor="let head of heads" style="color: white;">{{head}}</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let a of payment; let i = index">
                    <td (click)="onEdit(payment[i])">{{a.cardOwnerName}}</td>
                    <td (click)="onEdit(payment[i])">{{a.cardNumber}}</td>
                    <td (click)="onEdit(payment[i])">{{a.expirationDate}}</td>
                    <!-- <td><a (click)="openDialog(true,false,data[i],i)">Edit</a> -->
                      <td><button class="btn btn-danger btn-sm" style="float: right;margin-top: 10px;" (click)="openDialog(a)">
                        <!-- deletePayment(a.paymentDetailId) -->
                        <i class="bi bi-trash-fill"></i>
                      </button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
